{% extends "store/base.html" %}

{% block "content" %}
<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child box">
      <h1 class="title">Topic list</h1>
      {% for topic in topics %}
          <div class="box">
            <a href="{% url 'topic-detail' pk=topic.id %}"><h3>{{topic.score}}: {{ topic.title }}</h3></a>
            <p>
              {% for reason, value in topic.score.reasons.items %}
                ({{reason}}: {{value}})
              {% endfor %}
            </p>
            <p>
              {{ topic.text }}
            </p>
            <p>
              {% for rel in topic.related.all %}
                <a href="{% url 'topic-detail' pk=rel.id%}">
                  <span class="tag is-link">{{rel}}</span>
                </a>
              {% endfor %}
            </p>
          </div>
      {% endfor %}
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <h1 class="title">Task list</h1>
      {% for task in tasks %}
          <div class="box">
            <h3>{{ task.title }}</h3>
            <p>Due: {{task.due}}</p>
            <p>Wait: {{task.wait}}</p>
            <p>
              {{ task.text }}
            </p>
          </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
